<div>

  <!--<div class="btn-group">
      <button class="btn btn-primary" ng-click="addSimple()">Add simple</button>
       <button class="btn btn-primary" ng-click="addDouble()">Add double</button>
      <button class="btn btn-danger" ng-click="remove()">Remove</button>
  </div>-->
   <!--<div masonry column-width=".grid-sizer" masonry-options="{ gutter : 10 }"> -->
  <div class="masonry" masonry column-width=".grid-sizer" masonry-options="{ gutter : 5, isFitWidth:true }"  item-selector=".recipe">
      <div class="grid-sizer"></div>
      <div class="recipe" ng-repeat="recipe in recipes | filter:search:filterIngredientsFunction | filter:search.title" masonry-brick>
          <div class="image"><img ng-src="{{recipe.srcImg}}" alt=""/></div>
          <raty id="star{{$index}}" score="{{recipe.score}}" number="5" read-only="true"></raty>
          <h4>{{recipe.title}}</h4>         
      </div>
  </div>
 
</div>

