<div class="jumbotron">
  <h1>Home</h1>
  <div class="btn-group">
      <button class="btn btn-primary" ng-click="add()">Add</button>
      <button class="btn btn-danger" ng-click="remove()">Remove</button>
  </div>
  <!--<div masonry column-width=".grid-sizer" masonry-options="{ gutter : 10 }"> -->
  <div masonry column-width="200" masonry-options="{ gutter : 5 }">
      <div class="grid-sizer"></div>
      <div class="masonry-brick" ng-repeat="brick in bricks">
          <!--<img ng-src="{{ brick.src }}" alt="A masonry brick">-->
          {{ brick.src }}
      </div>
  </div>
 
</div>

